---
---

@import "{{ site.theme }}";

* {
	text-align: justify;
}

p img {
  display: block;
  max-width: 100%;
  /*margin: 0 0 1rem;*/
  /*margin: auto;*/
  margin: 0em auto 1em;
  border-radius: 5px;
}

table {
	border: 0;
}

td {
	border: 0;
	padding: 1px;
}

.dashed {
  border: 2px dashed #ccc;
  /* background-color: #ffd700; */
  padding: 1em;
  margin: 1em 0 2em;
  border-radius: 5px;
}

.note {
  position: relative;
  background-color: #ffd700;
  padding: 1em;
  margin: 1em 0 2em;
  border-radius: 5px;
}
